@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@layer components {
  .icon-wrapper{
    @apply flex items-center justify-center border-2 border-r-gray-500 w-[40px] h-[40px] rounded-full place-items-center;
  }
}